.list-group-item {
    border-radius: 0;
    padding: 6px 15px;
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: color 1000ms;
    transition: color 1000ms;
    .label-tag {
        display: inline;
        color: #ffffff;
        font-size: 11px;
        background: #777777;
        margin-left: 5px;
        border-radius: 3px;
        padding: 0 3px 2px 3px;
    }
    &:before{
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #2098d1;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: 0 50%;
      transform-origin: 0 50%;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition: 300ms ease-out;
      transition: 300ms ease-out;
    }
    .list-group-item-heading {
        color: #333333;
    }

    &:hover {
        .list-group-item-heading {
            color: #2098d1;
        }
    }

    &.active {
        background-color: #ffffff;
        border: 1px solid rgba(0,0,0,.125);
        &:before {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }

        &:after {
            content: '>';
            right: 8px;
            position: absolute;
            top: 4px;
        }

        .list-group-item-heading {
            color: #ffffff;    
        }
    }

}
