<a *ngIf="card"
  style="cursor: pointer;"
  [routerLink]="['/cards', name]"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="pull-left">
    <div class="list-group-item-heading">{{ card.name }} <span class="label-tag">{{card.card_type}}</span>
    </div>
  </div>
</a>
