.img-responsive {
    max-width: 100%;
}

h3 {
    font-size: 22px;
}

h4 {
    margin-top: 10px;
    font-size: 18px;
}

.shadow-wrapper {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    padding: 12px;

    >img {
        float: left;
        max-height: 200px;
        margin-right: 12px;
    }
}

.rating {
    clear: left;
    font-size: 11px;
    float: right;

    strong {
        font-size: 20px;
    }
    img {
        vertical-align: bottom;
    }
    .clearfix {
        clear: both;
    }
}