<div class="shadow-wrapper" *ngIf="card">
  <img

    src="http://52.57.88.137/api/card_image/{{ card.name }}"
    alt="{{ card.name }}"
    class="img-responsive">

  <h3>{{ card.name }}</h3>
  <h4>Description</h4>
  <p>{{ card.text }}</p>
  
  <div class="clearfix"></div>
  <h4>Details</h4>
  <ul>
    <li *ngIf="card.card_type"><b>Card Type:</b> {{ card.card_type }}</li>
    <li *ngIf="card.type"><b>Type:</b> {{ card.type }}</li>
    <li *ngIf="card.family"><b>Family:</b> {{ card.family }}</li>
  </ul>
  

  </div>