
<app-header></app-header>
<div class="container">
  <h2>Cards</h2>

  <div class="row">
    <div class="col-md-4">
      <app-card-list></app-card-list>
    </div>
    <div class="col-md-8">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="footer">
</div>